.consultaProxima {
    background-color: #DDEBF5;
    gap: 10%;
    font-size: 0.7rem;
    width: auto;
    font-family: Inter, sans-serif;
    padding: 7%;
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
    align-items: center;
    border:solid 2px #1A80BA;
    border-radius: 5px;
}

.fotoUsuario{
    width: 40%;    
    height: 60%;
}

.painelConsultaProxima {
    border: solid 3px #1A80BA;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    font-size: 0.68rem;
    font-weight: 300;
}

.saudacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
    font-family: Inter, sans-serif;
    margin: 20px 0;
    font-size: 0.75rem;
}

#horario {
    color: #1A80BA;
    font-weight: 400;
}

#nome {
    color: #31A5E7;
    font-weight: 400;
}

.painelCP-Data {
    background-color: #1A80BA;
    display: flex;
    justify-content: center;
    padding: 3%;
    color: white;
}

.painelCP-Consulta {
    margin: 5%;
}

.bola-verde{
    width: 4%;
    height: 6%;
}

.painelCP-Profissional {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-top: 3%;
    align-items: center;
}

.painelCP-texto-destaque {
    color: #1A80BA;
}

.painelCP-VerMais {
    background-color: #1A80BA;
    padding: 2%;
    width: 30%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    color: white;
}

.painelCP-VerMais-div {
    display: flex;
    flex-direction: row-reverse;
    margin: 2%;
}