.nomePosto-container {
    display: grid;
    grid-template-columns: 80% 20%;
    font-size: 0.65rem;
    background-color: #1A80BA;
    height: 24%;
    align-items: center;
    color: white;
    border-radius: 5px;
}

.nomePosto {
    margin-left: 10px;
}

.btnVerMais-container {
    display: flex;
    justify-content: center;
}

.paginaInicial {
    padding: 5% 0;
    gap: 25px;
}

.btnVerMais {
    background-color: white;
    padding: 3% 7%;
    width: 70%;
    border-radius: 5px;
    color: #1A80BA;
    font-size: 0.7rem;
    text-decoration: none;
}

.postoLocalizado {
    background-color: #1A80BA;
}