.paginaInicial-aba{
    background-color: #48A3D7;
    width: 100%;
    border-radius: 5px;
    gap: 10%;
    display: flex;
    align-items: center;
    color: white;
    font-family: Inter, sans-serif;
    padding: 5%;
    height: 60px;
    width: auto;
}

.paginaInicial-aba-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}


.paginaInicial-icone{
    width: 50px;
}

#aba-especialidades{
    gap: 16%;
    opacity:50%;
}

#aba-carteirinhas{
    gap: 4%;
}

#aba-report{
    background-color: #D75148;
    gap: 2.5%;
}

#texto-abas{
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.75);
}


.paginaInicial-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

