* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 8% auto;
    font-family: Inter, sans-serif;
}

.paginaInicial {
    margin: 0 7%;
    display: flex;
    flex-direction: column;
}

