
header{
    background-color: #48A3D7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalhoMenu, .usuario, .lupaPesquisa{
    width: 35px;
}

.barraPesquisa{
    padding: 9px;
    width: 47%;
    background-color: #6DBAE5;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder{
    color: white;
    background-image: url(./icones/lupa.png);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 20px;
}
