@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.cabecalho {
    width: 1080px;
    height: 65px;
    background-color: #48A3D7;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnVoltar {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 10%;
}

.acessarTxt {
    font-weight: 700;
    display: flex;
    text-align: center;
    position: absolute;
    left: 35%;
}

.usuarioImg {
    width: 80px;
    height: 80px;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.login {
    color: #48A3D7D4;
}

/* .email:focus {
    outline: none;
} */

.email {
    border-color: #48A3D7D4;
    border-radius: 5px;
    width: 350px;
    height: 65px;
    position: relative;
    left: 5%;
}

.senha {
    border-color: #48A3D7D4;
    border-radius: 5px;
    width: 350px;
    height: 65px;
    position: relative;
    left: 5%;
}

.loginTxt {
    display: flex;
    position: relative;
    left: 6%;
}

.loginEmail {
    margin-top: 6%;
}

.loginSenha {
    margin-top: 4%;
}

.btnLogin {
    background-color: #48A3D7;
    border: none;
    color: white;
    width: 150px;
    height: 35px;
    margin-bottom: 3%;
    border-radius: 5px;
}

.btnCadastrar {
    background-color: #Ffffff;
    border-color: #48A3D7;
    color: #48A3D7;
    width: 150px;
    height: 35px;
    border-radius: 5px;
}

.btns {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 30%;
    margin-top: 30px;
}

.loginCom {
    color: #1A80BA;
    display: flex;
    justify-content: center;
}

.googleImg {
    width: 45px;
    height: 45px;
}

.govImg {
    width: 90px;
    height: 40px;
}

.linhaDecorativa {
    height: 50px;
    width: 2px;
    background-color: #1A80BA;
}

.outroLogin2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.outroLogin {
    margin-top: 20px;
}