.tituloPagina{
    display: grid;
    grid-template-columns: 33% auto 33%;
    align-items: center;
    background-color: #1A80BA;
    width: 100%;
    color: white;
}

body{
    grid-template-rows: 8% 7% auto;
}

.titulo{
    display: flex;
    gap: 10px;
}

.botaoVoltar{
    margin-left: 25px;
    width: 20%;
}

.botaoVoltar:active{
    border-radius: 5px;
    background-color: #2cb2ff;
}

.icone-hospital{
    width: 16%;
    height: 20%;
}